{{ partial "header.html" . }}

<link rel="stylesheet" href="/css/gallery.css" />
<section class="project-start">
  <div class="project-start__text">
    <div class="project-start__title">{{.Title}}</div>
  </div>
  <div class="project-start__item">
    <img src="{{ .Params.main_project_image }}" alt="hal" />
  </div>
</section>
<section class="project">
  <div class="project__triangle">
    <svg viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 0L0 0 892.25 114.72 1200 0z"></path>
    </svg>
  </div>
  <div class="container">
    <div class="project__wrapper">
      <div class="project__block">
        <div class="project__dates">
          <p>
            {{ if .Params.start_date }}
            Czas trwania:
              {{ .Params.start_date }}
              {{ if .Params.end_date }} 
                - {{ .Params.end_date }} 
              {{ else }} 
                - obecnie 
              {{ end }}
            {{ end }}
          </p>
        </div>
        <div class="project__descr-title">Kilka słów więcej</div>
      </div>
    </div>

    <div class="project__wrapper">
      <div class="project__block">
        <div class="project__descr">
          {{.Content}}
        </div>
        {{ if .Params.gallery_images }}
          <h2>Galeria</h2>
          <div class="scroll-container" onclick="myFunction(this);">
            {{ range .Params.gallery_images }}
              {{ $image := resources.GetMatch .image }}
              <img src="{{ ( $image.Resize `x200 q75` ).RelPermalink }}" src_full_resolution="{{ .image }}" alt="{{ .description }}" onclick="myFunction(this);">
            {{ end }}
          </div> 
          <!-- The expanding image mycontainer -->
          <div class="expanded-img-container">
            <!-- Expanded image -->
            <img id="expanded-img">
            <!-- Image text -->
            <br>
            <div id="imgtext" style="text-align:center"></div>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
  <div class="square square-white"></div>
</section>

<script>
  function myFunction(imgs) {
    if (imgs.src === undefined) {
      return;
    }
    // Get the expanded image
    var expandImg = document.getElementById("expanded-img");
    // Get the image text
    var imgText = document.getElementById("imgtext");
    // Use the same src in the expanded image as the image being clicked on from the grid
    expandImg.src = imgs.getAttribute("src_full_resolution");
    console.log(expandImg.src);
    // Use the value of the alt attribute of the clickable image as text inside the expanded image
    imgText.innerHTML = imgs.alt;
    // Show the mycontainer element (hidden with CSS)
    expandImg.parentElement.style.display = "block";
  } 
</script>

{{ partial "footer.html" . }}</div>