  
  /* The expanding image container (positioning is needed to position the close button and the text) */
  .expanded-img-container {
    position: relative;
    display: none;
    width:100%;
    text-align: center;

  }

  div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 5px;
    height: 130px;
    text-align: center;
    width:100%;
  }
  
  div.scroll-container img {
    padding: 5px;
    height: 120px;
  }

  .expanded-img-container img{
    max-height:80%;
    max-width:100%;
  }