.authorities{
    background-color: $white-cultures;
    padding: 100px 0;
    padding-top: 150px;
    position: relative;
    overflow: hidden;
    &__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        &-block{
            margin-bottom: 50px;
        }
    }
    &__title{
        font-family: RadicalWut;
        font-size: 60px;
        line-height: 68px;
        margin-bottom: 30px;
    }
    &__position{
        font-size: 40px;
        font-weight: 500;
        line-height: 38px;
        text-align: left;
        color: black;
        margin-bottom: 20px;
    }
    &__name{
        font-size: 20px;
    }
    &__contacts{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 30px;
        margin-left: 20px;
        &-item{
            display: flex;
            align-items: center;
            color: black;
            transition: 0.3s;
            i{
                margin-right: 20px;
                font-size: 25px;
            }
            p{
                font-size: 18px;
            }

            &:hover{
                color: $blueDeFrance;
                transition: 0.3s;
            }
        }
    }
    &__wave{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        svg{
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            path{
                fill: $dark-cultures;
            }
        }
    }
}