.focus{
    background-color: $dark-cultures;
    position: relative;
    &__wave{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        color: white;
        svg {
            position: relative;
            display: block;
            width: calc(103% + 2px);
            height: 35px;
            path{
                fill: #FFFFFF;
            }
        }
    }
    &__title{
        font-family: RadicalWut;
        font-size: 60px;
        line-height: 68px;
        text-align: center;
        color: black;
    }
    &__wrapper{
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-top: 50px;
    }
    &__block{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 30px;
        width: 45%;
        &:first-child{
            margin-left: 0;
        }
        &-image{
            margin-bottom: 40px;
        }
        &-title{
            font-size: 24px;
            line-height: 39px;
            text-align: center;
        }
    }
}