.start{
    background-color: $dark;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    &__block{
        width: 45%;
        margin-right: 70px;
        z-index: 2;
    }
    &__wrapper{
        margin-top: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        margin-bottom: 70px;
    }
    &__image{
        // transform: scale(0.1);
        width: 500px;
        height: 500px;
        animation: moving 5s infinite ease;
    }
    &__title{
        font-family: RadicalWut;
        font-size: 96px;
        font-weight: bold;
        line-height: 90px;
        // letter-spacing: -0.88px;
        text-align: left;
        color: $cultured;
        margin-bottom: 30px;
        span{
            font-family: RadicalWut;
            color: $blueDeFrance;
            margin-right: 5px;
        }
    }
    &__descr{
        font-family: RadicalWut;
        font-size: 72px;
        font-weight: bold;
        line-height: 79px;
        letter-spacing: -0.88px;
        text-align: left;
        color: $cultured;
        margin-bottom: 30px;
    }

    @keyframes moving {
        0% {
            transform: translateY(-5%);
        }
        50% {
            transform: translateY(5%);
        }
        100% {
            transform: translateY(-5%);
        }
}

.hal{
    border-radius: 100%;
}

}
